<div class="pad">
  <div class="card-1">
    <div class="card_image">
      <img src="{{ quote.bgimage }}" />
    </div>
    <div class="overlay"></div>
    <div class="card_title title-white py3">
      <p>
        <strong>Quote: "{{ " " }}</strong
        ><span class="quote-text">{{ quote.quote }}"</span>
      </p>
      <p>
        <strong>Author:{{ " " }}</strong
        >{{ quote.author }}
      </p>
      <div class="flex-badges">
        <span class="text-light px-2 badge-success" (click)="handleUpvote()">
          <strong>upvote</strong> {{ quote.upvote }}
        </span>
        <span class="text-light badge-info px-2" (click)="handleDownvote()">
          downvote{{ " " }}{{ quote.downvote }}
        </span>
      </div>
      <span class="text-danger mt-4 right-0" (click)="delete(quote)"
        >delete</span
      >
      <span> date{{ quote.created | dateAgo }} </span>
    </div>
  </div>
</div>
