<div class="pad">
  <div class="card-1">
    <div class="card_image">
      <img src="{{ quote.bgimage }}" />
    </div>
    <div class="overlay"></div>
    <div class="card_title title-white py3">
      <p>
        <strong class="">Quote: "{{ " " }}</strong
        ><span class="author-text">{{ quote.quote }}"</span>
      </p>
      <p>
        <strong>Author:{{ " " }}</strong
        ><span class="quote-text">{{ quote.author }}</span>
      </p>
      <div class="flex-badges">
        <span
          class="text-light px-2 badge-pill bg-success"
          (click)="handleUpvote()"
        >
          <strong>upvote</strong> {{ quote.upvote }}
        </span>
        <span
          class="text-light badge-pill bg-info px-2"
          (click)="handleDownvote()"
        >
          downvote{{ " " }}{{ quote.downvote }}
        </span>
      </div>
      <div class="flex justify-content-between mt-4 align-bottom">
        <span> posted {{ " " }}{{ quote.created | dateAgo }} </span>
        <span
          (click)="delete(quote)"
          class="right-0 delete badge-pill p-2 bg-blood"
          >delete</span
        >
      </div>
    </div>
  </div>
</div>
