<div class="container my-4">
  <div class="card shadow-lg px-4 py-4 bg-darken-1">
    <form (ngSubmit)="onSubmit()">
      <label for="name" class="text-success">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Name"
        [(ngModel)]="name"
      />
      <label for="message" class="text-success">Quote</label>
      <textarea
        id="message"
        cols="30"
        rows="10"
        placeholder="add your quote"
        [(ngModel)]="message"
        name="message"
      ></textarea>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
